/* Base Styles 
------------------------------------------*/
body {
    font-family: "Karla";
}

/* Input
------------------------------------------*/
input {
    border-radius: 25px;
    border: 0;
    padding: 3%;
    background-color: transparent;
    font: 13px sans-serif;
    font-family: "Inconsolata";
    width: 80%;
}

/* Fonts
------------------------------------------*/

@font-face {
    font-family: 'Inconsolata'; 
    src: url('./fonts/inconsolata.regular.ttf');
}

@font-face {
    font-family: 'Karla'; 
    src: url('./fonts/Karla-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Karla Bold'; 
    src: url('./fonts/Karla-ExtraBold.ttf');
}

/* Side Navigation
------------------------------------------*/
.sidenav {
    height: 100%;
    width: 250px;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #08113B;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 30px;
}

/* The navigation menu links */
.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    font-family: 'Inconsolata';
}
  
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #818181;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.sidenav h4 {
    color: #FFFFFF;
    font-family: "Karla Bold";
    font-size: 40px;

}

.sidenav h5 {
    color: #FFFFFF;
    font-family: "Karla Bold";
    font-size: 25px;
}

.search-container {
    margin-top: 30px;
    background-color: #FFFFFF;
    border-radius: 25px;
    width: 80%;
}

.contact-container {
    margin-top: 395px; /* or 300 */
    width: 80%;
}

/* Main
------------------------------------------*/
/* Style page content */
.main {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 20px 50px;
}


.main-title-container {
    font-family: 'Inconsolata';
    width: 90%;
}

.main-title-container h3 {
    font-size: 90px;
}

.wide-container {
    height: 500px;
    width: 90%;
    margin: 20px 0;
}

.narrow-container {
    height: 100%;
    width: 50%;
    display: inline-block;
}

.sub-title {
    font-family: 'Inconsolata';
    font-weight: bold;
    font-size: 20px;
}

.modebar {
    display: none !important;
}